.search-container {
  display: flex;
  width: calc(100% - 20px);
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  border-bottom: 1px #900000 solid;
  padding: 10px;
  background-color: #ff0000;
}

.search-input {
  width: 250px;
  border: 0;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  background-color: #fff;
  color: #ff0000;
  font-weight: 700;
  font-size: 15px;
}

.search-input:focus {
  background-color: #eee;
  border: 0;
  outline: none;
}

.search-btn {
  width: 40px;
  height: 40px;
  border: 0;
  border-bottom: 1px #900000 solid;
  border-radius: 50%;
  background-color: #fff;
  color: #555;
  font-weight: 700;
  font-size: 15px;
  transition: 0.5s;
}

.search-btn:hover {
  background-color: #ffffff90;
  transition: 0.5s;
  cursor: pointer;
}

.btn-disabled {
  background-color: #ccc;
  cursor: default;
}

.btn-disabled:hover {
  background-color: #ccc;
}
